* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    background: #f4f4f4;
    color: #333;
    padding: 0;
    
}
.header{
    font-family: 'Courier New', Courier, monospace;
    background-color:green;
    color:white;
    text-align: center;
    padding: 8px ;
    
}
.container{
    background-color: blue;
    color: rgb(255, 255, 255);
    width: 450px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
}
.container h1 {
    margin-bottom: 10px;
    

}
.box{
    margin: 5px 15px 15px 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-bottom-left-radius: 20px ;
    border-top-right-radius: 20px ;
    float: left;
    
}
.container p {
    margin-bottom: 5px;
    line-height: 1.5;
}
.container a{
    display: block;
    text-align: center;
    color: red;
}

.container ul {
    margin-left: 5px ;
    padding-left: 20px;
}

.container ul > li {
    margin: 5px 0;
    color: white;
}
.container ul > li:nth-child(2) {
     color: cyan;
     letter-spacing: 5px;
 }

 table{
    margin-left: 20px;
    float: right;
    border: 1px solid silver;
}
td {
    position: relative;
    border: 1px solid silver;
    padding: 8px 19px;
    text-align:center;
    color: white;
    width: 40px;
    height: 30px
}
td span{
    position: absolute;
    bottom: 0;
    right: 15px;
}
.container h3{
    margin: 10px 0 ;
}




.like {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.footer{
    background-color:green;
    color:white;
    text-align: center;
    padding: 8px;
    font-size: 1.2em;

}
.red{
    color: red;
}