*{
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
}
.list{
    background-color: bisque;
    height: 80px;
    width: 500px;
    padding: 5px 0;
    
}
ul{
    margin: 5px 0;

}


.container{
    height: 100%;
    display: flex;
    background-color: aqua;
    flex: 1;
    border: 1px solid black;
    
}
.left{
    flex-direction: column;
}
.gray-box{
    flex: 1;
    background-color: darkgray;

}
@media screen and (max-width:720px) {
    .container{
        flex-direction: column;
    }
    .gray-box{
        width: 100%;
    }
    .list{
        width: 100%;
        height: 20px; 
        display: flex; 
        margin: 20px 0;
        padding: 0;
    }
    ul{
        list-style: none;
        margin: 0;
        
    }
    ul li{
        display: inline-block;
        margin-right: 5px;
    }
}